
.morphSearch{
  background: #fff1df;
  width: 100%;
  min-height: 100%;
  height: 100%;
  animation:unmovingbox 0.5s;
  //animation-fill-mode: backward;

  .morphForm{
    display: flex;
    background: transparent;
    min-height: 100%;
    height: 100%;
    transition: all 0.5s ease;
    .morphInput{
      border:none;
      color: #666;
      background: transparent;
      display:inline;
      transition: all 0.5s ease;
      width:100%;
      height:100%;
      &:focus{
        outline: none;
      }
      -webkit-appearance: none;
      &::-webkit-search-cancel-button{
        -webkit-appearance: none;
      }
    }
    .morphButton{
      border:none;
      margin-top: auto;
      margin-bottom: auto;
      background: transparent;
      display:inline;
      position:relative;
      opacity: 0;
      width: 1vw;
      height: 1vw;
    }
  }
  .closeButton{
    position: absolute;
    right: 3.5vw;
    top: 1vw;
    background: transparent;
    font-size: 2em;
    border: 0;
    width:1vw;
    height:1vw;

    &:focus{
      outline: none;
    }
  }

  &.noAnimation{
    animation: none;


  }

  .content{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s 0.5s;
  }

  &.open{
    animation: movingbox 0.5s;
    animation-fill-mode: forwards;
    .morphForm{
      margin: 3em 20vw;
      min-height: 6vw;
      height: 6vw;
      width: 60vw;
      .morphInput{
        font-size:5vw;
      }
      .morphButton{
        position: relative;
        width: 5vw;
        height: 5vw;
        opacity: 1;
        transition: all 0.5s 0.5s ease;
        line, circle{
          transition: all 0.2s ease;
        }
        &:hover {
          cursor:pointer;
          line, circle{
            stroke: #aaa;
            transition: all 0.2s ease;
          }
        }

        &:focus{
          outline: none;
        }
      }
    }
    .content{
      visibility: visible;
      opacity: 1;
    }
    .closeButton{
      top: 0.5vw;
      right: 1.5vw;
      width:3vw;
      height:3vw;
      transition: all 0.5s 0.5s linear;
      cursor:pointer;
      &:hover {
        line{
          stroke: #222;
          stroke-width:2;
          transition: all 0.2s ease;
        }
      }
    }
  }
}

@-webkit-keyframes movingbox{
  0%{position: fixed}
  100%{left:0; top: 0; width: 100%; height:100%; position:fixed}
}

@-webkit-keyframes unmovingbox{
  0%{left:0; top: 0; width: 100%; height:100%; min-height:100%; position:fixed}
  100%{position:fixed}
}